body { background: #d25093; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 21px; display: flex; }
.block-notify-0 { color: #27428b; font-size: 16px; margin-bottom: 5px; }
.block-shipping-1 { color: #adccce; font-size: 18px; margin-bottom: 5px; }
.block-session-2 { color: #f4d353; font-size: 13px; margin-bottom: 5px; }
.block-order-3 { color: #61d909; font-size: 13px; margin-bottom: 5px; }
.block-config-4 { color: #f2d86a; font-size: 12px; margin-bottom: 5px; }